{% extends 'AnticomKennzeichenBundle::layout.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('anticom_kennzeichen_list') }}">Kennzeichen</a></li>
        <li><a href="{{ path('anticom_kennzeichen_show', {'id' : kennzeichen.id}) }}">Details</a></li>
        <li class="active">Bearbeiten</li>
    </ol>
{% endblock %}